language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
matrix:
  allow_failures:
    - python: "pypy"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest pytest-cov pytest-xdist coveralls coverage

# command to run tests
script: py.test -v --cov edx_dl --cov-report html

after_success:
  coveralls

notifications:
  email:
    - iemejia@gmail.com
    - kidsshk3@gmail.com
    - rbrito@ime.usp.br
